
fastapi==0.115.11
uvicorn==0.34.0
pydantic==2.10.6
pdfplumber==0.11.5
python-docx==1.1.2
pytesseract==0.3.13
numpy==2.2.4
pandas==2.2.3
scikit-learn==1.6.1
tika==2.6.0
unstructured==0.17.2
pypdf==5.4.0
langchain==0.3.21
python-dotenv
PyPDF2
google.generativeai